<div class="row">
  
  <div class="container">
    <hr>
  </div>

  <form class="col-sm-6">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Enter Title of Book" ng-model="{{reviewFormCtrl.book.title}}">
    </div>

    <div class="form-group">
      <label for="isbn">ISBN</label>
      <input type="text" class="form-control" id="isbn" placeholder="Enter 10 digit ISBN Number" ng-model="{{reviewFormCtrl.book.isbn}}">
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" placeholder="Enter Name of Author" ng-model="{{reviewFormCtrl.book.author}}">
    </div>

    <div class="form-group">
      <label for="review">Review</label>
      <textarea class="form-control" id="review" placeholder="Write your review here" ng-model="{{reviewFormCtrl.book.review}}"></textarea>
    </div>

    <div class="form-group">
      <label>Rating</label>
      <div>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="rating1"> 1
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="rating2"> 2
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="rating3"> 3
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="rating4"> 4
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="rating5"> 5
        </label>
      </div>
    </div>

    <div class="form-group">
      <label>Genre</label>
      <div class="checkbox form-control">
        <label>
          <input type="checkbox"> Check me out
        </label>
      </div>
    </div>

    <button type="submit" class="btn btn-default btn-primary">Save Review</button>

  </form>

  <div class="well col-sm-6">
    <div class="col-sm-3">
      <a href="http://www.amazon.com/gp/product/{{reviewFormCtrl.book.isbn}}"><img ng-src="http://images.amazon.com/images/P/{{reviewFormCtrl.book.isbn}}.01.ZTZZZZZZ.jpg" alt="{{reviewFormCtrl.book.title}}" class="full"></a>
      <p ng-class="{goodRating: book.rating >= 3}" class="rating">{{reviewFormCtrl.book.rating}}/5</p>
    </div>

    <div class="col-sm-9">
      <h3>
        <a href="http://www.amazon.com/gp/product/{{reviewFormCtrl.book.isbn}}">{{reviewFormCtrl.book.title}}</a>
      </h3>
      <cite class="text-muted">Written by {{reviewFormCtrl.book.author}}</cite>
      <p>{{reviewFormCtrl.book.review}}</p>
    </div>
  </div>

</div>
