<div class="container">
  <hr>
  <form>
    
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Enter Title of Book">
    </div>

    <div class="form-group">
      <label for="isbn">ISBN</label>
      <input type="text" class="form-control" id="isbn" placeholder="Enter 10 digit ISBN Number">
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" placeholder="Enter Name of Author">
    </div>

    <div class="form-group">
      <label for="review">Review</label>
      <input type="text" class="form-control" id="review" placeholder="Write your review here">
    </div>

    <div class="form-group">
      <label>Rating</label>
      <div>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="rating1"> 1
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="rating2"> 2
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="rating3"> 3
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="rating4"> 4
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="rating5"> 5
        </label>
      </div>
    </div>

    <div class="form-group">
      <label>Genre</label>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Check me out
        </label>
      </div>
    </div>

    <button type="submit" class="btn btn-default btn-primary">Save Review</button>

  </form>

</div>